
quartus_proj/blink/db/*
quartus_proj/blink/incremental_db/*
quartus_proj/blink/simulation/*

quartus_proj/ghrd_adder/db/*
quartus_proj/ghrd_adder/incremental_db/*
quartus_proj/ghrd_adder/simulation/*
quartus_proj/ghrd_adder/soc_system/simulation/*

quartus_proj/ghrd_sdram/db/*
quartus_proj/ghrd_sdram/incremental_db/*
quartus_proj/ghrd_sdram/simulation/*
quartus_proj/ghrd_sdram/soc_system/simulation/*

quartus_proj/ghrd_sdram_vhdl/db/*
quartus_proj/ghrd_sdram_vhdl/incremental_db/*
quartus_proj/ghrd_sdram_vhdl/simulation/*
quartus_proj/ghrd_sdram_vhdl/soc_system/simulation/*

quartus_proj/DE10_NANO_SoC_GHRD/db/*
quartus_proj/DE10_NANO_SoC_GHRD/incremental_db/*
quartus_proj/DE10_NANO_SoC_GHRD/simulation/*
quartus_proj/DE10_NANO_SoC_GHRD/soc_system/simulation/*

quartus_proj/ghrd_barebones_template/db/*
quartus_proj/ghrd_barebones_template/incremental_db/*
quartus_proj/ghrd_barebones_template/simulation/*
quartus_proj/ghrd_barebones_template/soc_system/simulation/*

quartus_proj/DE10_NANO_SoC_GHRD_2/db/*
quartus_proj/DE10_NANO_SoC_GHRD_2/incremental_db/*
quartus_proj/DE10_NANO_SoC_GHRD_2/simulation/*
quartus_proj/DE10_NANO_SoC_GHRD_2/soc_system/simulation/*

quartus_proj/DE10_NANO_SoC_GHRD_2_simpleAdder/db/*
quartus_proj/DE10_NANO_SoC_GHRD_2_simpleAdder/incremental_db/*
quartus_proj/DE10_NANO_SoC_GHRD_2_simpleAdder/simulation/*
quartus_proj/DE10_NANO_SoC_GHRD_2_simpleAdder/soc_system/simulation/*

quartus_proj/DE10_NANO_SoC_GHRD_2_useram/db/*
quartus_proj/DE10_NANO_SoC_GHRD_2_useram/incremental_db/*
quartus_proj/DE10_NANO_SoC_GHRD_2_useram/simulation/*
quartus_proj/DE10_NANO_SoC_GHRD_2_useram/soc_system/simulation/*




